AllSamplesGBSDArTCommonSitesFiltered.vcf.genome
DArTonlysamples_UniqueSites_Unfiltered.vcf.gz
DCas22_6902_DArTseqLD_AllSites_AllChrom_raw.vcf.gz
DCas22_6902_RefandStudyPopimputedAndFiltered.vcf.gz
GBSNonRefsamples_UniqueSites_Unfiltered.vcf.gz
GBSandDArTsitesCommonClones_ready2Impute.vcf.gz
GBSandDArTsitesCommonClones_ready2filter.vcf.gz
GBSandDArTsitesCommonClones_unfiltered.vcf.gz
GBSonlysamples_UniqueSites_SelUnfiltered.vcf.gz
GBSonlysamples_UniqueSites_SelUnfiltered2.vcf.gz
GBSsamples_UniqueSites_SelUnfiltered.vcf.gz
GBSsamples_UniqueSites_SelUnfilteredRenamed.vcf.gz
GBSsamples_UniqueSites_SelUnfilteredRenamed2.vcf.gz
