AllChrom_DArT_ReadyForGPFil_2022May30.vcf.gz
AllChrom_DArT_ReadyForGP_2022May05.vcf.gz
AllChrom_DArT_ReadyForGP_CBNames_2022May05.vcf.gz
DCas22_6902_DArTseqLD_AllSites_AllChrom_raw.vcf.gz
DCas22_6902_DArTseqLD_AllSites_AllChrom_rawFiltered.vcf.gz
DCas22_DArT_ReadyForGP_Dos.rds
chr10_DCas22_6902_DArT_imputed.vcf.gz
chr10_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr10_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr10_DCas22_6902_DArT_rawFiltered.vcf.gz
chr11_DCas22_6902_DArT_imputed.vcf.gz
chr11_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr11_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr11_DCas22_6902_DArT_rawFiltered.vcf.gz
chr12_DCas22_6902_DArT_imputed.vcf.gz
chr12_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr12_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr12_DCas22_6902_DArT_rawFiltered.vcf.gz
chr13_DCas22_6902_DArT_imputed.vcf.gz
chr13_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr13_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr13_DCas22_6902_DArT_rawFiltered.vcf.gz
chr14_DCas22_6902_DArT_imputed.vcf.gz
chr14_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr14_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr14_DCas22_6902_DArT_rawFiltered.vcf.gz
chr15_DCas22_6902_DArT_imputed.vcf.gz
chr15_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr15_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr15_DCas22_6902_DArT_rawFiltered.vcf.gz
chr16_DCas22_6902_DArT_imputed.vcf.gz
chr16_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr16_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr16_DCas22_6902_DArT_rawFiltered.vcf.gz
chr17_DCas22_6902_DArT_imputed.vcf.gz
chr17_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr17_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr17_DCas22_6902_DArT_rawFiltered.vcf.gz
chr18_DCas22_6902_DArT_imputed.vcf.gz
chr18_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr18_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr18_DCas22_6902_DArT_rawFiltered.vcf.gz
chr1_DCas22_6902_DArT_imputed.vcf.gz
chr1_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr1_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr1_DCas22_6902_DArT_rawFiltered.vcf.gz
chr2_DCas22_6902_DArT_imputed.vcf.gz
chr2_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr2_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr2_DCas22_6902_DArT_rawFiltered.vcf.gz
chr3_DCas22_6902_DArT_imputed.vcf.gz
chr3_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr3_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr3_DCas22_6902_DArT_rawFiltered.vcf.gz
chr4_DCas22_6902_DArT_imputed.vcf.gz
chr4_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr4_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr4_DCas22_6902_DArT_rawFiltered.vcf.gz
chr5_DCas22_6902_DArT_imputed.vcf.gz
chr5_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr5_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr5_DCas22_6902_DArT_rawFiltered.vcf.gz
chr6_DCas22_6902_DArT_imputed.vcf.gz
chr6_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr6_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr6_DCas22_6902_DArT_rawFiltered.vcf.gz
chr7_DCas22_6902_DArT_imputed.vcf.gz
chr7_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr7_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr7_DCas22_6902_DArT_rawFiltered.vcf.gz
chr8_DCas22_6902_DArT_imputed.vcf.gz
chr8_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr8_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr8_DCas22_6902_DArT_rawFiltered.vcf.gz
chr9_DCas22_6902_DArT_imputed.vcf.gz
chr9_DCas22_6902_DArT_imputedAndFiltered.vcf.gz
chr9_DCas22_6902_DArT_imputedAndFiltered.vcf.gz.tbi
chr9_DCas22_6902_DArT_rawFiltered.vcf.gz
